:root{
    --cor-de-fundo: #FFF;
    --cinza-fonte: #667085;
    --cinza-borda: #EAECF0;
    --preto-titulos: #101828;
    --vinho-secundario: #8E2424;
    --fonte--principal: 'Inter';
}

body{
    width: 100%;
    background-color: var(--cor-de-fundo);
    color: var(--cinza-fonte);
    font-family: var(--fonte--principal);
    font-size: 16px;
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
}

.menu__navegacao{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.img__nav{
    padding: 0 7em;
}

.lista__nav{
    display: flex;
    align-items: center;
    margin-right: auto;
    list-style-type: none;
    padding: 1rem 0;
    gap: 2rem;
}

.login__nav{
    margin-right: 80px;
}

.nav__link{
    text-decoration: none;
    color: var(--cinza-fonte);
}

.botao__cadastro a{
    background-color: var(--vinho-secundario);
    font-size: 16px;
    color: var(--cor-de-fundo);
    border-radius: 8px;
    padding: 0.8rem 1rem;
}

.container__sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.5rem 0;
    gap: 1.5rem;
}

.sobre__subtitulo{
    color: var(--vinho-secundario);
    font-size: 16px;
    font-weight: 600;
}

.sobre__titulo{
    font-size: 48px;
    color: var(--preto-titulos);
    font-weight: 600;
}
.sobre__texto{
    color: var(--cinza-fonte);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 42%;
}

.container__resultados{
    display: flex;
    grid-template-columns: auto;
    align-items: center;
    margin: 0 5%;
    margin-bottom: 5rem;
}

.conteudo__resultados{
    width: 20%;
    padding: 2em;
}

.titulo__resultados{
    font-size: 60px;
    font-weight: 600;
    color: var(--vinho-secundario);
}

.subtitulo__resultados{
    font-size: 18px;
    font-weight: 500;
    color: var(--preto-titulos);
    padding: 1rem 0;
}

.texto__resultados{
    font-size: 16px;
    font-weight: 400;
}

.container__vagas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 6rem;
    gap: 2rem;
}
.vagas__link{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--vinho-secundario);
}
.botao__vagas{
    display: inline;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 0.5em;
}


.vagas__titulo{
    color: var(--preto-titulos);
    font-size: 36px;
    font-weight: 600;
}

.vagas__texto{
    font-size: 20px;
    font-weight: 400;
}

.img__vagas{
    width: 85%;
    margin: 2rem auto;
}

.lista-vagas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 25vw 0 25vw;
    list-style-type: none;
}

.container__lista-vagas{
    border: 0.5px solid var(--cinza-borda);
    border-radius: 16px;
    padding: 1.5em;
    margin: 1em 0;
}
.container__descricao-vaga{
    display: flex;
    margin-top: 2em;
    color: var(--cinza-fonte);
    font-weight: 500;
}

.lista-vagas__titulo{
    margin: 2.5em 0 1em 0;
}

.vaga__modelo{
    margin-right: 2em;
}

.lista-vagas__titulo{
    font-size: 20px;
    font-weight: 500;
    color: var(--preto-titulos);
}

.vaga__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--preto-titulos);
}

.container__depoimentos{
    text-align: center;
    background: rgba(142, 36, 36, 0.05);
    margin: 4em 15vw 3em 15vw;
    border-radius: 16px;
}

.depoimentos__titulo{
    font-size: 14px;
    font-weight: 600;
    color: var(--vinho-secundario);
    padding-top: 4em;
}

.depoimentos__texto{
    font-size: 36px;
    color: var(--preto-titulos);
    padding: 0 2em 1em 1.5em;
}

.depoimentos__nome-usuario{
    padding: 1em 0 0.5em 0;
    color: var(--preto-titulos);
}

.depoimentos__profissional-usuario{
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-fonte);
    padding-bottom: 4em;
}

.container__rodape{
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    text-align: center;
    
}

.rodape__titulo{
    color: var(--preto-titulos);
    font-size: 36px;
    font-weight: 600;
    padding: 2.5em 0 0.5em 0;
    
}

.rodape__newsletter{
    font-size: 20px;
    font-weight: 400;
    
}

.rodape__newsletter-input{
    padding: 0.7em 5em 0.7em 1em;
    border: 0.5px solid var(--cinza-fonte);
    border-radius: 8px;
}

.rodape__newsletter-botao{
    color: var(--cor-de-fundo);
    background: var(--vinho-secundario);
    border: 0px solid transparent;
    border-radius: 8px;
    padding: 0.7em;
    font-size: 14px;
    font-weight: 500;
    margin: 2em 0.5em;
    
}

.rodape__newsletter-input::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-fonte);
}

.rodape__direitos{
    font-size: 16px;
    font-weight: 400;
    color: #98A2B3;
    margin-bottom: 4em;
}